@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Geist+Mono:wght@100..900&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Oleo+Script:wght@400;700&family=Pacifico&family=Satisfy&display=swap');

.aissistant-container{
    font-family: "Host Grotesk", sans-serif;
    display: flex;
    flex-direction: column;
    height: 99vh;
    width: 100%;
    background: url("../assets/pic8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.aissistant{
    padding: 0vh 10vh 0vh 10vh;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: row;
}

.aissistant-logo{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10vh 0vh 0vh 20vh;
}

.aissistant-icon{
    height: 50vh;
    width: 50vh;
}

.aissistant-text{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.aissistant-user-type{
    align-self: center;
    background-color: lightblue;
    width: 100px;
}

.aissistant-header{
    display: flex;
    height: 15%;
    align-items: center;
    padding-left: 10vh;
    padding-top: 5vh;
    gap: 40px;
    font-size: larger;
}