@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Geist+Mono:wght@100..900&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Oleo+Script:wght@400;700&family=Pacifico&family=Satisfy&display=swap');

.aissistant-container{
    font-family: "Host Grotesk", sans-serif;
    display: flex;
    flex-direction: column;
    height: 99dvh;
    width: 100%;
    overflow: auto;
    background: url("../assets/pic8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.aissistant{
    padding: 0dvh 10dvh 0dvh 10dvh;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-direction: row;
    gap: 20px;
}

.aissistant-logo{
    width: 700px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}

.aissistant-icon{
    height: 300px;
    width: 300px;
}

.aissistant-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.aissistant-text h1{
    margin-bottom: 10px;
}

.aissistant-text span.combined-text{
    display: none;
}

.aissistant-user-type{
    align-self: center;
    background-color: lightblue;
    width: fit-content;
    margin-top: 25px;
}

.aissistant-header{
    display: flex;
    height: 15%;
    align-items: center;
    padding-left: 10dvh;
    padding-top: 5dvh;
    gap: 40px;
    font-size: larger;
}

.aissistant-info{
    height: fit-content;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-self: baseline;
    margin-top: 40px;
    padding-left: 20px;
}

.aissistant-info span{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 30px;
    background: rgba(243, 243, 243, 0.4);
}

@media (max-aspect-ratio: 1/1), (max-width: 960px){
    .aissistant-container{
        height: 100dvh;
        width: 100dvw;
        background-size: cover;
    }

    .aissistant-text span.combined-text{
        display: block;
    }

    .aissistant-text p.single-text{
        display: none;
    }
    
    .aissistant-header{
        padding: 3dvh 0dvw 0dvh 0dvw;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .aissistant{
        height: auto;
        flex-direction: column-reverse;
        direction: ltr;
        padding: 0dvh 5dvw 0dvh 5dvw;
    }

    .aissistant-text{
        padding: 3dvh 0dvw 0dvh 0dvw;
        gap: 2dvh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: last baseline;
        flex-direction: column;
    }

    .aissistant-text h1{
        font-size: large;
        text-align: justify;
    }

    .aissistant-text p{
        font-size: small;
        text-align: justify;
    }

    .aissistant-logo{
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        width: 100%;
        overflow: auto;
    }

    .aissistant-icon{
        height: 120px;
        width: 120px;
    }

    .aissistant-info{
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-bottom: 40px;
    }

    .aissistant-info p{
        font-size: small;
    }

    .aissistant-info h2{
        font-size: medium;
    }

    .aissistant-info span{
        width: 350px;
    }
}
