@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Geist+Mono:wght@100..900&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Oleo+Script:wght@400;700&family=Pacifico&family=Satisfy&display=swap');

.aissistant-container{
    font-family: "Host Grotesk", sans-serif;
    display: flex;
    flex-direction: column;
    height: 99dvh;
    width: 100%;
    background: url("../assets/pic8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.aissistant{
    padding: 0dvh 10dvh 0dvh 10dvh;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: row;
}

.aissistant-logo{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10dvh 0dvh 0dvh 20dvh;
}

.aissistant-icon{
    height: 50dvh;
    width: 50dvh;
}

.aissistant-text{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.aissistant-text h1{
    margin-bottom: 10px;
}

.aissistant-text span.combined-text{
    display: none;
}

.aissistant-user-type{
    align-self: center;
    background-color: lightblue;
    width: 100px;
    margin-top: 25px;
}

.aissistant-header{
    display: flex;
    height: 15%;
    align-items: center;
    padding-left: 10dvh;
    padding-top: 5dvh;
    gap: 40px;
    font-size: larger;
}

@media (max-aspect-ratio: 1/1){
    .aissistant-container{
        height: 100dvh;
        width: 100dvw;
        background-size: cover;
    }

    .aissistant-text span.combined-text{
        display: block;
    }

    .aissistant-text p.single-text{
        display: none;
    }
    
    .aissistant-header{
        padding: 3dvh 0dvw 0dvh 0dvw;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .aissistant{
        height: auto;
        flex-direction: column-reverse;
        direction: ltr;
        padding: 0dvh 5dvw 0dvh 5dvw;
    }

    .aissistant-text{
        padding: 3dvh 0dvw 0dvh 0dvw;
        gap: 2dvh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: last baseline;
        flex-direction: column;
    }

    .aissistant-text h1{
        font-size: large;
        text-align: justify;
    }

    .aissistant-text p{
        font-size: small;
        text-align: justify;
    }

    .aissistant-logo{
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0dvh 0dvw 0dvh 0dvw;
    }

    .aissistant-icon{
        height: 120px;
        width: 120px;
    }
}