@media (max-aspect-ratio: 1/1) and (pointer: coarse) {
    .student-container{
        height: 100dvh;
    }

    .student-chat-header{
        direction: ltr;
        padding-right: 30%;
        padding-top: 0;
    }

    .student-sidebar {
        width: 70%; /* Sidebar takes 70% of the screen width on mobile */
        padding: 4%;
        position: fixed; /* Position the sidebar above the content */
        top: 0;
        left: 0;
        height: 100dvh; /* Full height */
        z-index: 1000; /* Ensure it's above other content */
    }

    .student-sidebar.visible {
        transform: translateX(-100%); /* Show sidebar when toggled */
    }

    .student-sidebar.hidden{
        transform: translateX(0);
    }

    .student-content,
    .student-no-chat-selected {
        width: 100%; /* Full width on mobile */
        margin-left: 0; /* Reset margin */
    }
    

    .student-content.sidebar-hidden,
    .student-no-chat-selected.sidebar-hidden {
        margin-left: 0;
    }

    .student-sidebar-toggle {
        position: fixed; /* Position the toggle button above the content */
        top: 10px;
        left: 100%;
        z-index: 1001; /* Ensure it's above the sidebar */
    }

    .student-sidebar-toggle.hidden {
        transform: translateX(0); /* No translation when sidebar is hidden */
    }

    .student-sidebar-toggle.visible {
        transform: translateX(100%); /* Move toggle button when sidebar is visible */
    }

    .student-theme-toggle {
        right: 10px;
    }
    
    .student-exercises-button {
        right: 70px; /* Adjust the position to avoid overlapping with the theme toggle button */
    }

    .student-message.bot {
        max-width: 100%;
    }

    .student-overlay.hidden {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); /* Dark overlay effect */
        z-index: 999; /* Below sidebar, but above content */
    }

    .student-modal-content{
        padding: 10px;
        margin: 15px;
    }
}