@media (max-aspect-ratio: 1/1), (max-width: 960px) {
    .admin-sidebar {
        width: 80%;
        position: fixed;
        z-index: 1000;
        height: 100%;
        left: -100%;
        transition: left 0.3s ease;
    }
    
    .admin-sidebar.visible {
        left: 0;
        display: block;
    }

    .admin-header{
        display: flex;
    }

    .admin-content{
        padding: 10px 20px 10px 20px;
    }

    .dashboard-tab{
        padding: 0px;
    }

    .statistics{
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 20px;
    }

    .graphs{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .recharts-responsive-container.line-graph{
        width: 100% !important;
        height: 250px !important;
    }

    .recharts-responsive-container.pie-graph{
        display: none !important;
    }

    .faq-controls{
        flex-direction: column;
        align-items: start;
    }
}