.login-container{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.login-box{
    height: fit-content;
    width: 100%;
}

.login-logo{
    height: fit-content;
    width: 100%;
}

.login-icon{
    height: 200px;
    width: 200px;
}