/* exercises.css */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Geist+Mono:wght@100..900&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Oleo+Script:wght@400;700&family=Pacifico&family=Satisfy&display=swap');

.offline-exercises-page {
    display: flex;
    height: 99%;
    font-family: "Host Grotesk", sans-serif;
    width: 99%;
    overflow: hidden;
    margin: 0px;
}

.offline-exercises-page.dark {
    background: var(--bg-dark);
    color: var(--text-dark);
}

.offline-exercises-page.light {
    background: var(--bg-light);
    color: var(--text-light);
}

.offline-exercises-sidebar{
    width: 23dvw;
    padding: 2dvh 2dvw 2dvh 2dvw;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
}

.offline-exercises-sidebar.dark {
    background: var(--sidebar-dark);
}

.offline-exercises-sidebar.light {
    background: rgba(0, 0, 255, 0.1);
}

.offline-exercises-sidebar.hidden {
    transform: translateX(-100%);
}

.offline-exercises-sidebar.visible {
    transform: translateX(0);
}

.offline-exercises-sidebar h2 {
    margin-bottom: 0px;
    font-size: 1.8rem; /* Increased font size */
}

.offline-exercises-sidebar ul {
    list-style: none;
    padding: 0px;
    overflow-y: auto;
    flex: 1;
    margin-top: 0px;
}

.offline-exercises-sidebar li {
    margin: 15px 0; /* Increased spacing */
    cursor: pointer;
    padding: 12px; /* Increased padding */
    border-radius: 5px;
}

.offline-exercises-sidebar li:nth-child(3n + 1) {
    background: linear-gradient(150deg, #ff4d4dc2, #ffc6c6be), url("../assets/pic3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
  
.offline-exercises-sidebar li:nth-child(3n + 2) {
    background: linear-gradient(150deg, #4d7affc2, #c0d0ffc2), url("../assets/pic3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
  
.offline-exercises-sidebar li:nth-child(3n + 3) {
    background: linear-gradient(150deg, #ffcc00c0, #fff2bdc0), url("../assets/pic3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.offline-exercises-sidebar li.active {
    filter: brightness(80%);
}

.offline-exercises-sidebar li.light.active {
    border: 2px solid black;
}

.offline-exercises-sidebar li.dark.active {
    border: 2px solid white;
}

.offline-exercises-sidebar li:hover {
    filter: brightness(80%);
}

.offline-exercises-content {
    flex: 1;
    padding: 30px; /* Increased padding */
    background: var(--bg-dark);
    color: var(--text-dark);
    overflow: auto;
    transition: margin-left 0.3s ease-in-out;
    height: 99dvh;
    overflow: scroll;
}

.offline-exercises-content.sidebar-hidden{
    margin-left: -23dvw;
}

.offline-exercises-content.light {
    background: var(--bg-light);
    color: var(--text-light); /* Font color in light mode */
}

.offline-exercises-content h1 {
    font-size: 2.2rem; /* Increased font size */
    color: var(--text-dark);
}

.offline-exercises-content h1.light {
    color: var(--text-light); /* Font color in light mode */
}

.offline-lessons {
    list-style: none;
    padding: 0;
}

.offline-lessons li {
    cursor: pointer;
    background: var(--tab-dark);
    color: var(--text-dark);
    margin: 15px 0; /* Increased spacing */
    padding: 20px; /* Increased padding */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.offline-lessons li.light {
    background: var(--tab-light);
    color: var(--text-light); /* Font color in light mode */
}

.offline-lessons li:hover {
    background: var(--button-hover-dark);
}

.offline-lessons li:hover.light {
    background: var(--button-hover-light);
}

.offline-subtopics {
    margin-top: 25px; /* Increased spacing */
}

.offline-subtopics h2 {
    margin-bottom: 15px; /* Increased spacing */
    font-size: 1.8rem; /* Increased font size */
    color: var(--text-dark);
}

.offline-subtopics h2.light {
    color: var(--text-light); /* Font color in light mode */
}

.offline-subtopics ul {
    list-style: none;
    padding: 0;
}

.offline-subtopics li {
    cursor: pointer;
    background: var(--tab-dark);
    color: var(--text-dark);
    margin: 15px 0; /* Increased spacing */
    padding: 20px; /* Increased padding */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.offline-subtopics li.light {
    background: var(--tab-light);
    color: var(--text-light); /* Font color in light mode */
}

.offline-subtopics li.light .subtopic-text{
    color: var(--text-light);
}

.offline-subtopics li:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.offline-subtopics li .subtopic-icon {
    font-size: 1.5rem; /* Increased font size */
    color: var(--message-user-dark);
    margin-right: 15px; /* Increased spacing */
}

.offline-subtopics li .subtopic-icon.light {
    color: var(--message-user-light);
}

.offline-subtopics li .subtopic-text {
    flex: 1;
    font-size: 1.2rem; /* Increased font size */
    color: var(--text-dark);
}

.offline-subtopics li .subtopic-text.light {
    color: var(--text-light); /* Font color in light mode */
}

/* Theme Toggle Button */
.offline-exercises-theme-toggle {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    top: 20px;
    padding: 12px; /* Increased padding */
    border: none;
    cursor: pointer;
    font-size: large;
}

.offline-exercises-theme-toggle.dark {
    background: var(--button-dark);
    color: var(--text-dark);
}

.offline-exercises-theme-toggle.light {
    background: var(--button-light);
    color: var(--text-light); /* Font color in light mode */
}

.offline-theme-toggle:hover.dark {
    background: var(--button-hover-dark);
}

.offline-theme-toggle:hover.light {
    background: var(--button-hover-light);
}

code {
    font-family: "Geist Mono", monospace;
}

/* Additional styles for subtopic content */
.offline-subtopic-content {
    padding: 30px; /* Increased padding */
    background: var(--bg-dark);
    color: var(--text-dark);
    overflow: scroll;
}

.offline-subtopic-content::-webkit-scrollbar, .offline-lessons::-webkit-scrollbar, .offline-subtopics::-webkit-scrollbar{
    display: none;
}

.offline-subtopic-content.light {
    background: var(--bg-light);
    color: var(--text-light);
}

.offline-subtopic-content span{
    white-space: pre-line;
    font-size: 18px;
    text-align: justify;
}

.offline-subtopic-content strong{
    font-size: 20px;
}


.offline-subtopic-content pre{
    font-size: large;
}

.offline-subtopic-content h2, .subtopic-content h3, .subtopic-content h4 {
    margin: 15px 0px 15px 0px; /* Increased spacing */
    font-size: 28px;
}

.offline-subtopic-content .introduction p, .subtopic-content .main-content p {
    margin-bottom: 20px; /* Increased spacing */
    font-size: 1.1rem; /* Increased font size */
}

.offline-subtopic-content .lesson-objectives ul, .subtopic-content .main-content ul {
    margin-left: 25px; /* Increased spacing */
    margin-bottom: 20px; /* Increased spacing */
    font-size: 1.2rem; /* Increased font size */
}

.offline-subtopic-content .exercises {
    margin-top: 30px; /* Increased spacing */
}

.offline-subtopic-content .exercises h4 {
    margin-bottom: 15px; /* Increased spacing */
    font-size: 1.5rem; /* Increased font size */
}

.offline-subtopic-content .exercises ul {
    list-style: none;
    padding: 0;
}

.offline-subtopic-content .exercises li {
    margin: 15px 0; /* Increased spacing */
    font-size: 1.2rem; /* Increased font size */
}

.offline-subtopic-content.dark .exercises input[type="text"], .subtopic-content.dark .exercises textarea {
    width: 100%;
    padding: 12px; /* Increased padding */
    border-radius: 5px;
    border: 1px solid var(--tab-dark);
    background: rgba(255, 255, 255, 0.2);
    color: var(--text-dark);
    font-size: 1.1rem; /* Increased font size */
}

.offline-subtopic-content.dark .exercises input[type="text"]::placeholder, .subtopic-content.dark .exercises textarea::placeholder {
    color: var(--text-dark);
}

.offline-subtopic-content.light .exercises input[type="text"], .subtopic-content.light .exercises textarea {
    border: 1px solid var(--tab-light);
    background: rgba(0, 0, 0, 0.1);
    color: var(--text-light);
    width: 100%;
    padding: 12px; /* Increased padding */
    border-radius: 5px;
    font-size: 1.1rem; /* Increased font size */
}

.offline-subtopic-content.light .exercises input[type="text"]::placeholder, .subtopic-content.light .exercises textarea::placeholder {
    color: var(--text-light);
}

.offline-subtopic-content.dark .exercises button {
    padding: 12px 25px; /* Increased padding */
    border: none;
    border-radius: 5px;
    background: var(--button-dark);
    color: var(--text-dark);
    cursor: pointer;
    font-size: 1.1rem; /* Increased font size */
}

.offline-subtopic-content.light .exercises button {
    padding: 12px 25px; /* Increased padding */
    border: none;
    border-radius: 5px;
    background: var(--button-light);
    color: var(--text-light);
    cursor: pointer;
    font-size: 1.1rem; /* Increased font size */
}

.offline-subtopic-content.dark .exercises button:hover {
    background: var(--button-hover-dark);
}

.offline-subtopic-content.light .exercises button:hover {
    background: var(--button-hover-light);
}

.offline-line.dark {
    border-bottom: 2px solid white;
    width: 100%;
    margin-bottom: 20px;
}

.offline-line.light {
    border-bottom: 2px solid black;
    width: 100%;
    margin-bottom: 20px;
}

/* General button styling */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
  }
  
  button:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
  }
   
/* Back Button Styling */
.offline-back-button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 5px;
}

/* Dark Theme Specific Styles */
.offline-back-button.dark {
    color: white;
    background: transparent;
}

/* Light Theme Specific Styles */
.offline-back-button.light {
    color: black;
    background: transparent;
}

.offline-back-button:hover{
    text-decoration: underline;
}
  
  /* Button container for back buttons */
.offline-button-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}
  
  /* Dark and light theme variables */
.offline-exercises-page.dark {
    --button-bg-color: #444;
    --button-hover-bg-color: #555;
    --button-text-color: #fff;
}
  
.offline-exercises-page.light {
    --button-bg-color: #007bff;
    --button-hover-bg-color: #0056b3;
    --button-text-color: #fff;
}

.offline-exercise-snippet.light{
    background: rgb(182, 182, 182);
    color: black;
}

.offline-exercise-snippet.dark{
    background: rgb(43, 43, 43);
    color: white;
}

.offline-exercise-input.light{
    color: black;
    background: rgb(209, 209, 209);
}

.offline-exercise-input.light::placeholder{
    color:  black;
}

.offline-exercise-input.dark{
    color: white;
    background: rgb(51, 51, 51);
}

.offline-exercise-input.dark::placeholder{
    color:  white;
}

.offline-check-answers-button {
    background: #4caf50; /* Green */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}
  
.offline-check-answers-button.dark {
    background: #45a049; /* Darker green for dark theme */
}

.offline-exercise-text {
    white-space: pre-line; /* Ensures line breaks are respected */
    margin-bottom: 10px; /* Adds space between the question and the input field */
    font-size: 14px;
    text-align: justify;
}
  
.offline-exercise-input {
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    height: 40px;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: large;
    width: 35dvh;
}

.offline-exercises-header-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.offline-exercises-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    right: 0;
}

.offline-exercises-header-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    direction: rtl;
    padding: 0;
}

.offline-exercises-chat-button {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    top: 20px;
    right: 20px;
    padding: 12px; /* Increased padding */
    border-radius: 10dvh;
    border: none;
    cursor: pointer;
    font-family: "Host Grotesk", sans-serif;
    font-size: large;
}

.offline-exercises-chat-button.dark {
    background: var(--button-dark);
    color: var(--text-dark);
}

.offline-exercises-chat-button.light {
    background: var(--button-light);
    color: var(--text-light);
}

.offline-exercises-chat-button:hover.dark {
    background: var(--button-hover-dark);
}

.offline-exercises-chat-button:hover.light {
    background: var(--button-hover-light);
}

.offline-exercises-logout-button {
    font-family: "Host Grotesk", sans-serif;
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: auto;
    border: none;
    text-align: left;
    cursor: pointer;
    border-radius: 5px;
    bottom: 0;
}

.offline-exercises-logout-button.dark {
    background: #b43e3e;
    color: var(--text-dark);
}

.offline-exercises-logout-button.light {
    background: #9e4d4d;
    color: var(--text-dark);
}

.offline-exercises-logout-button:hover.dark {
    background: var(--button-hover-dark);
}

.offline-exercises-logout-button:hover.light {
    background: var(--button-hover-light);
}

.offline-loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    font-size: 1.5rem;
  }

.offline-subject-code-input input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--tab-dark);
    border-radius: 5px;
    font-family: "Host Grotesk", sans-serif;
}

.offline-subject-code-input input.dark {
    background: var(--input-dark);
    color: var(--text-dark);
}

.offline-subject-code-input input.light {
    background: var(--input-light);
    color: var(--text-light);
}

.offline-submit-button.light{
    background: rgb(127, 228, 127);
}

.offline-submit-button.dark{
    background: rgb(48, 116, 48);
    color: white;
}

.offline-exercises-sidebar-toggle2{
    display: none;
}

.offline-exercises-sidebar-toggle {
    position: absolute;
    top: 0px;
    left: 23dvw;
    padding: 10px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    font-family: "Host Grotesk", sans-serif;
    transition: transform 0.3s ease;
    z-index: 1000;
}

.offline-exercises-sidebar-toggle.sidebar-hidden {
    transform: translateX(-23dvw);
}

.offline-exercises-sidebar-toggle.dark {
    background: var(--sidebar-dark);
    color: var(--text-dark);
}

.offline-exercises-sidebar-toggle.light {
    background: var(--sidebar-light);
    color: var(--text-light);
}

.offline-exercises-sidebar-toggle:hover.dark {
    background: var(--button-hover-dark);
}

.offline-exercises-sidebar-toggle:hover.light {
    background: var(--button-hover-light);
}

.offline-exercises-sidebar-toggle2.dark {
    background: var(--sidebar-dark);
    color: var(--text-dark);
}

.offline-exercises-sidebar-toggle2.light {
    background: var(--sidebar-light);
    color: var(--text-light);
}

.offline-exercises-sidebar-toggle2:hover.dark {
    background: var(--button-hover-dark);
}

.offline-exercises-sidebar-toggle2:hover.light {
    background: var(--button-hover-light);
}

.offline-userPicture{
    width: 42px;
    height: 42px;
    border-radius: 20px;
}

.offline-exercise-tutorial{
    display: none;
}

.offline-exercise-tutorial2{
    display: none;
}

.offline-exercise-tutorial3{
    display: none;
}

.offline-exercise-tutorial-highlight{
    display: none;
}

.offline-exercise-tutorial-highlight2{
    display: none;
}

.offline-exercise-tutorial-highlight3{
    display: none;
}

.offline-exercises-profile{
    display: none;
}

.offline-subject-boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3 columns per row */
    gap: 10px; /* Adjust the spacing between items */
}
  
.offline-subject-box {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    height: 150px;
}
  
.offline-subject-box:nth-child(3n + 1) {
    background: linear-gradient(150deg, #ff4d4dc2, #ffc6c6be), url("../assets/pic3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
  
.offline-subject-box:nth-child(3n + 2) {
    background: linear-gradient(150deg, #4d7affc2, #c0d0ffc2), url("../assets/pic3.jpg"); /* Blue */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
  
.offline-subject-box:nth-child(3n + 3) {
    background: linear-gradient(150deg, #ffcc00c0, #fff2bdc0), url("../assets/pic3.jpg"); /* Yellow */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
  
.offline-subject-box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.offline-subject-box-options {
    cursor: pointer;
    padding: 5px;
}
  
.offline-subject-box-options-menu {
    z-index: 5;
    position: absolute;
    right: 0;
    top: 30px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    z-index: 1;
}
  
.offline-subject-box-options-menu button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    text-align: left;
}
  
.offline-subject-box-options-menu button:hover {
    background: #f0f0f0;
}  

.offline-no-learning-materials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

img.book{
    height: 250px;
    width: 300px;
}

.offline-read-button{
    font-size: 30px;
    padding: 10px;
    margin: 0px;
    background: none;
    border: none;
}